@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0vw 15vw;
}

.landing {
  background-color: #f8f5f5;
}

.landing__container {
  margin-left: 15vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.landing__logo {
  padding: 1rem 0rem;
  height: 15vh;
}

.landing__hero {
  background-image: url("../Assets/Hero Image.jpg");
  background-size: cover;
  background-position: center;
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}

.landing__content {
  height: 85vh;
  padding-right: 10rem;
  display: flex;
  align-items: center;
  justify-items: center;
}

.landing__content h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.landing__content p {
  color: #4d4d4d;
}

.landing__content ul {
  padding: 1rem 0rem;
}

.landing__content ul li {
  list-style: none;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.landing__content ul li p {
  padding-left: 5px;
}

.landing__button {
  background-color: #0f0f0f;
  color: #ffffff;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}

.landing__button:hover {
  background-color: #1b1b1b;
  transform: scale(1.02);
  transition: 0.4s;
}

.landing__logos {
  padding-top: 2rem;
}

.landing__logos .brands {
  padding-top: 1rem;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0vw 10vw;
  }
  .landing__container {
    margin: 0vw 10vw;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
  .landing__logo {
    height: 10vh;
  }
  .landing__hero {
    margin: 3rem 0rem 3rem 0rem;
    height: 50vh;
    width: 100%;
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
    transform: scale(1.25);
  }
  .landing__content {
    height: auto;
    padding-right: 0;
  }
  .landing__content h1 {
    font-size: 2rem;
    padding-top: 1rem;
  }
  .landing__logos .brands {
    padding-bottom: 2rem;
  }
  .landing__logos .brands img {
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0vw 10vw;
  }
  .landing__container {
    margin: 0vw 10vw;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
  .landing__logo {
    height: 10vh;
  }
  .landing__hero {
    margin: 2rem 0rem 5rem 0rem;
    height: 40vh;
    width: 100%;
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
    transform: scale(1.25);
  }
  .landing__content {
    height: auto;
    padding-right: 0;
  }
  .landing__content h1 {
    padding-top: 1rem;
  }
  .landing__logos .brands {
    padding-bottom: 2rem;
  }
}

@media screen and (min-height: 1360px) {
  body {
    background-color: #f8f5f5;
  }
  .container {
    margin: 0vw 10vw;
  }
  .landing__container {
    margin: 0vw 10vw;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
  .landing__logo {
    height: 10vh;
  }
  .landing__hero {
    margin: 2rem 0rem 5rem 0rem;
    height: 40vh;
    width: 100%;
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
    transform: scale(1.25);
  }
  .landing__content {
    height: auto;
    padding-right: 0;
  }
  .landing__content h1 {
    font-size: 4rem;
    padding-top: 1rem;
  }
  .landing__logos .brands {
    padding-bottom: 2rem;
  }
}
