@include media-sm {
  .container {
    margin: 0vw 10vw;
  }
  .landing {
    &__container {
      margin: 0vw 10vw;
      //   margin: 0vh;
      grid-template-columns: repeat(1, 1fr);
      //   grid-template-rows: repeat(3, 1fr);
      height: auto;
    }

    &__logo {
      height: 10vh;
    }

    &__hero {
      margin: 3rem 0rem 3rem 0rem;

      height: 50vh;
      width: 100%;
      grid-row: 2 / span 2;
      grid-column: 1 / span 1;
      //   margin: 0;
      transform: scale(1.25);
    }

    &__content {
      height: auto;
      padding-right: 0;
      h1 {
        font-size: 2rem;
        padding-top: 1rem;
      }
    }
    &__logos {
      .brands {
        padding-bottom: 2rem;
        img {
          height: 30px;
        }
      }
    }
  }

  .signup {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 10vh repeat(2, 1fr);
    min-height: 100vh;

    &__logo-nav,
    &__form {
      padding: 8vw;
    }
  }
}

@include media-md {
  .container {
    margin: 0vw 8vw;
  }
  .landing {
    &__container {
      margin: 0vw 10vw;
      grid-template-columns: repeat(1, 1fr);
      height: auto;
    }

    &__logo {
      height: 10vh;
    }

    &__hero {
      margin: 2rem 0rem 5rem 0rem;
      height: 40vh;
      width: 100%;
      grid-row: 2 / span 2;
      grid-column: 1 / span 1;
      transform: scale(1.25);
    }

    &__content {
      height: auto;
      padding-right: 0;
      h1 {
        padding-top: 1rem;
      }
    }
    &__logos {
      .brands {
        padding-bottom: 2rem;
      }
    }
  }

  .signup {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 10vh repeat(2, 1fr);
    min-height: 100vh;

    &__logo-nav {
      padding-left: 8vw !important;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: space-between;
      height: 10vh;

      &__back {
        text-align: right;
      }
    }

    &__form {
      padding-left: 8vw;

      h1 {
        font-size: 2.5rem;
        line-height: 3rem;
      }

      p,
      label {
        color: #4b4b4b;
      }

      form {
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;

        input {
          padding: 0.8rem;
          background-color: #d3d3d3;
          border: none;
        }

        label,
        input {
          margin-bottom: 1rem;
        }

        button {
          margin-top: 1rem;
          padding: 1rem;
          background-color: #0e0e0e;
          color: #ffffff;
          border: none;
          border-radius: 5px;
          font-weight: 600;
        }
      }
    }

    &__quote {
      margin-top: 1rem;
      // padding: 1rem 0rem;
      background-color: #ffeeee;
      padding: 8vw;
      height: 100%;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: 1.6rem;
        line-height: 2.5rem;
        font-weight: 600;
      }

      &__detail {
        display: flex;
        align-items: center;
        padding-top: 1.5rem;
        .designation {
          font-size: 15px;
          color: #4b4b4b;
          line-height: 19px;
        }
        img {
          padding-right: 1rem;
        }
      }
    }
  }
}

@include media-md-h {
  body {
    background-color: #f8f5f5;
  }
  .container {
    margin: 0vw 10vw;
  }
  .landing {
    &__container {
      margin: 0vw 10vw;
      grid-template-columns: repeat(1, 1fr);
      height: auto;
    }

    &__logo {
      height: 10vh;
    }

    &__hero {
      margin: 2rem 0rem 5rem 0rem;
      height: 40vh;
      width: 100%;
      grid-row: 2 / span 2;
      grid-column: 1 / span 1;
      transform: scale(1.25);
    }

    &__content {
      height: auto;
      padding-right: 0;
      h1 {
        font-size: 4rem;
        padding-top: 1rem;
      }
    }
    &__logos {
      .brands {
        padding-bottom: 2rem;
      }
    }
  }
}
